@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../fonts/Cafe24Ssurround.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../fonts/Cafe24SsurroundAir.ttf');
    font-weight: normal;
    font-style: normal;
}